.endereco {
  width: 1115px;
  height: 457.939px;
  flex-shrink: 0;
  padding: 150px 0 0 0;
  border-radius: 48px;
  display: flex;
}
.endereco .container {
  width: 663px;
  height: calc(100% - 100px);
  border-radius: 48px;
  background: linear-gradient(203deg, rgba(84, 21, 17, 0.66) 4.72%, #F3C7C4 102.83%);
  border-radius: 48px 0 0 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  padding: 50px 40px;
}
.endereco .container .titulo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.endereco .container .titulo h2 {
  color: #FFF;
  font-size: 80px;
  font-weight: 700;
  line-height: 104.5%; /* 83.6px */
}
.endereco .container .titulo hr {
  background-color: white;
  margin: 0;
  width: 50px;
  height: 1px;
}
.endereco .container h3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 157%; /* 31.4px */
}
.endereco .container p {
  width: 305px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 157%; /* 25.12px */
}
.endereco .container button {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #3C0E0E;
  font-size: 16px;
  font-weight: 600;
  line-height: 157%; /* 25.12px */
}
.endereco .cafe-endereco {
  width: 1115px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: -80px 0 0 0;
}
.endereco aside {
  width: 324px;
  height: calc(100% - 30px);
  border-radius: 0px 48px 48px 0px;
  background: linear-gradient(203deg, #8F423D 4.72%, #FFF 102.83%);
  padding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.endereco aside .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.endereco aside .titulo h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 104.5%; /* 41.8px */
}
.endereco aside .titulo hr {
  width: 281.353px;
  height: 1px;
  background-color: white;
}
.endereco aside p {
  width: 284.157px;
  height: 44.968px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 157%;
}
.endereco aside .local {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
}
.endereco aside .local p {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .endereco {
    width: 90%;
    height: auto;
    padding: 120px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  .endereco .container {
    display: flex;
    justify-content: center;
    width: calc(100% - 84px);
    min-height: 300px;
    padding: 0;
    border-radius: 48px 48px 0 0;
    padding: 42px;
  }
  .endereco .container .titulo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .endereco .container .titulo h2 {
    text-align: center;
    font-size: 64px;
  }
  .endereco .cafe-endereco {
    display: none;
  }
  .endereco aside {
    width: calc(100% - 84px);
    min-height: 300px;
    border-radius: 0 0 48px 48px;
    padding: 42px;
  }
  .endereco aside .titulo h2 {
    font-size: 32px;
  }
  .endereco aside p {
    width: 100%;
    height: auto;
  }
  .endereco aside .local {
    height: 32px;
    gap: 8px;
  }
  .endereco aside .local img {
    height: 24px;
  }
}/*# sourceMappingURL=endereco.css.map */