footer{
  padding: 100px 0;
  width: 1117px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  span{
    a{
      text-decoration: none;
      color: #282828  ;
    }
  }

  hr{
    width: 1117px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.08);
  }

  section{
    padding: 72px 0 0 0;
    display: flex;
    justify-content: space-between;

    div {
      max-width: 304px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      h2 {
        color: #282828;
        font-size: 20px;
        font-weight: 500;
        line-height: 157%; /* 31.4px */
      }

      p{
        color: rgba(60, 14, 14, 0.68);
        font-size: 16px;
        font-weight: 400;
        line-height: 157%; /* 25.12px */ 
      }

      ul{
        li{
          a{
            text-decoration: none;
            color: rgba(60, 14, 14, 0.68);
            font-size: 16px;
            font-weight: 400;
            line-height: 157%; /* 25.12px */
          }
        }
      }

      .contatos{
        display: flex;
        flex-direction: row;
        gap: 4px;

        img{
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer{
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px 0;

    hr{
      width: 90%;
    }

    section{
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 0;
    }
  }
  
}