header{
  width: 1188px;
  height: 530px;
  display:flex;
  flex-direction: column;
  z-index: 100;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container{
      display: flex;
      align-items: center;
      gap: 50px;

      .logo{
        display: flex;
        align-items: center;
        font-size: 24px;     
        font-weight: 500;
       }

       ul{
         display: flex;
         gap: 50px;
         list-style: none;

         li{
          font-size: 20px;
          font-weight: 500;
          
          a{
            color: #3C0E0E;
            text-decoration: none;
          }

          a:hover {
            text-decoration:  underline;
            text-decoration-thickness: 5px;
            text-underline-offset: 8px;
          }
         }
       }
    }
    
    .button-container {
      display: flex;
      gap: 10px;

      .button-login{
        background-color: transparent;
        font-size: 20px;
        font-weight: 500;
        border: none;
        cursor: pointer;
      }

      .button-login:hover{
        background-color: rgba(255, 255, 255, 0.217) ;
        border-radius: 48px;
      }


      .button-delivery{
        width: 152px;
        height: 48px;
        flex-shrink: 0;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border-radius: 39px;
        background: #431B1B;
        border: none;
        cursor: pointer;
      }

      .button-delivery:hover{
        background: #431b1be0;
      }
    }
  }

  .banner{
    display: flex;
    justify-content: space-between;

    .banner-text{
      padding: 0 0 0 42px;

      h2{
        font-size: 24px;
        font-weight: 700; 
  
        strong{
          font-size: 80px;  
        }
      }
  
      p{
        max-width: 350px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 157%; /* 25.12px */
      }
    }

    .banner-img{
     img{
      width: 614px;
      height: 530px;
      position: relative;
      top: -170px;
      z-index: -1;
     }
    }
  }
 
}
.button-menuHamburguer{
  display: none;
  user-select: none;
 }

 @media screen and (max-width: 1200px) {
  header {
    width: 100%;
    height: auto;


    nav{
      .container{
        gap: 0px;

        .logo{
          width: auto;
          font-size: 24px;
          
          img{
            width: 40%;
          }
        }

        ul{
          gap: 24px;

          li{
            font-size: 20px;
          }
        }
      }
    }

    .button-container{
      gap: 16px;
      padding: 0 16px;
    }
  }
  
 }

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: auto;

    nav{
      justify-content: start;
      align-items: center;
      gap: 8px;

      .container{
        gap: 0;
        
      .logo{
        font-size: 16px;

        img{
          width: 90px;
          height: calc(90px - 13px);
        }
      }

        ul{
          display: none;
        }
      }

      
    .button-container {
      align-items: center;

      .button-login{
        display: none;
      }
    }

    .button-delivery{
      width: 109px;
      height: 43px;
      border-radius: 38px;
      flex-shrink: 0;
    }
  }

  .banner{
    padding: 50px 0 0 0;
    .banner-text{
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding:  0 0 0 16px;

      h2{
        font-size: 14px;

        strong{
          font-size: 48px;  
        }
      }

      p {
        width: 230px;
        font-size: 14px;
      }
    }

    .banner-img{
      
      img{
        top: -30px;
        left: 20px;
        width: 400px;
        height: 350px;
      }
     }
    
   }
  }
}

